.d2tDatePicker {
  :global(.dark) & {
    :global(.d2tNavButtonsClassName) {
      &:before {
        border-color: white;
      }
    }
  }
  
  :global(.d2tNavButtonsClassName) {
    i {
      display: none;
    }
    
    &:before {
      content: '';
      border: solid black;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
    }
  }
  
  :global(.d2tNextButtonClassName) {
    &:before {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
  
  :global(.d2tPrevButtonClassName) {
    &:before {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
  }
}
